@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-green: #386641;
    --green: #6A994E;
    --light-green: #A7C957;
    --red: #BC4749;
    --black: #1f2a2e;
    --charcoal: #29444D;
    --light-gray: #dce1de;
    --light-gray-2: #e4e7e5;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid black; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 40px;
    background: var(--charcoal);
    position: fixed;
    top: 0;
}

.header-logo {
    height: 80px;
}

header h1 a {
    color: var(--light-gray);
    font-family: serif;
    font-weight: 400;
    letter-spacing: .3rem;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    font-weight: 600;
}

.navbar a {
    color: var(--light-gray);
}

.navbar-list li a:hover {
    color: var(--red)
}

.login-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-button a {
    padding: 12px;
    border-radius: 0.8em;
    color: var(--light-gray);
    font-size: 15px;
    font-weight: 400;
}

.signin a {
    background-color: var(--light-gray);
    color: var(--black);
}

.signin a:hover {
    background-color: var(--light-gray-2);
}

.login a:hover {
    color: var(--light-gray-2); 
}

.cart {
    height: 40px;
    width: 40px;
    margin-right: 100px;
    color: var(--light-gray);
    font-size: 20px;
}

.cart-icon {
    cursor: pointer;
    transition: 250ms;
}

.cart-icon:hover {
    font-size: 25px;
    transition: 250ms;
}

.navbar label {
    display: none;
}

#menu-toggle, #cart-toggle {
    display: none;
}

.cart-list {
   display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero {
    height: calc(100vh - 80px);
    width: 90vw;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-info-link a {
    font-weight: 700;
    color: var(--red);
}

.hero-info-link a:hover {
    text-decoration: underline;
}

#about {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about-card {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border-right: 1px solid var(--black);
}

.about-card:last-of-type {
    border-right: none;
}

.about-card-icon {
    font-size: 40px;
}

.about-card-text {
    text-align: center;
}

#products {
    width: 100%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

#products h2 {
    margin-top: 50px;
    font-size: 30px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

.product {
    background-color: var(--white);
    border-radius: 0.3em;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product img {
    height: 200px;
}

.product-list-price {
    font-size: 0.7em;
    color: var(--charcoal);
    font-style: italic;
    text-decoration: line-through;
}

.product-offer {
    font-weight: 800;
    font-size: 24px;
}

.product-discount {
    color: var(--green);
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
}

.button {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    font-weight: 500;
    border-radius: 0.3em;
    cursor: pointer;
}

.add-to-cart {
    background-color: var(--charcoal);
    color: var(--light-gray);
}

.buy-now {
    background-color: var(--red);
    color: var(--light-gray);
}

.store-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--charcoal);
    border-radius: 0.3em;
    cursor: pointer;
}

.store-button a {
    color: var(--light-gray);
    font-size: 24px;
    font-weight: 600;
}